h1{
    font-family: 'Open Sans';
}

table{
    margin-top: 30;
    width: 100%;
    font-family: 'Open Sans';
}

th{
    font-size: 20;
    height: 60;
    text-align: center;
    background-color: #804aed;
    color: white;
}

table, th, td{
    padding: 20;
    border-spacing: 0;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
  
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}